/* Cart.module.css */

.container {
  max-width: 800px;
  margin: 40px auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.quantityControls {
  display: flex;
  align-items: center;
}

.checkoutBtn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #b45309;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
